<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>user</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"></link>
</head>
<body class="container">
<br/>
<h1>修改用户</h1>
<br/><br/>
<div class="with:80%">
    <form class="form-horizontal" method="post" th:action="@{/edit}" th:object="${user}">
        <input name="id" th:value="*{id}" type="hidden"/>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="userName">userName</label>
            <div class="col-sm-10">
                <input class="form-control" id="userName" name="userName" placeholder="userName" th:value="*{userName}" type="text"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="password">Password</label>
            <div class="col-sm-10">
                <input class="form-control" id="password" name="password" placeholder="Password" th:value="*{password}" type="password"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="age">age</label>
            <div class="col-sm-10">
                <input class="form-control" id="age" name="age" placeholder="age" th:value="*{age}" type="text"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input class="btn btn-info" type="submit" value="Submit"/>
                &nbsp; &nbsp; &nbsp;
                <a class="btn btn-info" href="/toAdd" th:href="@{/list}">Back</a>
            </div>

        </div>
    </form>
</div>
</body>
</html>
